body {
  font-family: monospace;
  margin: auto;
  padding: 2rem;
  color: #ffffff;
  background: #2e2f3a;
}

button {
  background: none;
  border: none;
  color: #947a13;
  font-family: monospace;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

h3 {
  text-decoration: "underline";
}

button:hover {
  color: #ffcc00;
}

/* Text inputs */
input,
textarea {
  background-color: #10101a;
  color: #ffffff;
  border: 1px solid #666666;
  font-family: monospace;
  font-size: 1rem;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #ffffff;
}

input[type="time"],
input[type="number"],
input.number-input {
  max-width: 60px;
}

input.settings-input {
  display: block;
  margin-bottom: 12px;
  margin-top: 6px;
}

label {
  display: block;
  margin-bottom: 12px;
}

h3 {
  text-decoration: underline;
}
